# November-Minor Project-ML
## Author : Shivani Rana

In [2]:
#Importing Libraries
import numpy as np
import pandas as pd

In [3]:
#Reading csv file of dataset
df = pd.read_csv("tmdb-movies.csv")
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

### Exploring the dataset

In [4]:
df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [6]:
df.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [7]:
df.shape

(10866, 21)

### Cleaning the dataset

In [8]:
# Check if there is any null value
df.isna().apply(pd.value_counts)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
False,10866.0,10856,10866.0,10866.0,10866.0,10866.0,10790,2936,10822,8042,...,10862,10866.0,10843,9836,10866.0,10866.0,10866.0,10866.0,10866.0,10866.0
True,NaN,10,NaN,NaN,NaN,NaN,76,7930,44,2824,...,4,NaN,23,1030,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#Check for number of null values
df.isnull().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

In [10]:
#Drop the null values
df = df.dropna()
df

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10724,668,tt0064757,1.778746,7000000,81974493,On Her Majesty's Secret Service,George Lazenby|Diana Rigg|Telly Savalas|Gabrie...,http://www.mgm.com/view/movie/1411/On-Her-Maje...,Peter R. Hunt,Far up! Far out! Far more! James Bond 007 is b...,...,James Bond tracks archnemesis Ernst Blofeld to...,142,Adventure|Action|Thriller,Eon Productions|Metro-Goldwyn-Mayer (MGM)|Danjaq,12/12/69,258,6.4,1969,4.160985e+07,4.872780e+08
10759,948,tt0077651,1.198849,300000,70000000,Halloween,Donald Pleasence|Jamie Lee Curtis|P.J. Soles|N...,http://www.theofficialjohncarpenter.com/hallow...,John Carpenter,The Night HE Came Home!,...,"A psychotic murderer, institutionalized since ...",91,Horror|Thriller,Compass International Pictures|Falcon Internat...,10/25/78,522,7.3,1978,1.002810e+06,2.339890e+08
10760,8469,tt0077975,1.157930,2700000,141000000,Animal House,John Belushi|Tim Matheson|John Vernon|Verna Bl...,http://www.animalhouse.com/,John Landis,It was the Deltas against the rules... the rul...,...,"At a 1962 College, Dean Vernon Wormer is deter...",109,Comedy,Universal Pictures|Oregon Film Factory|Stage I...,7/27/78,230,6.7,1978,9.025292e+06,4.713208e+08
10817,13963,tt0077838,0.064029,0,321952,The Last Waltz,Robbie Robertson|Rick Danko|Levon Helm|Richard...,http://www.mgm.com/#/our-titles/1092/The-Last-...,Martin Scorsese,It Started as a Concert. It Became a Celebration.,...,Martin Scorsese's rockumentary intertwines foo...,117,Documentary|Music,FM Productions|Last Waltz Inc.,5/1/78,33,8.0,1978,0.000000e+00,1.076189e+06
10819,16214,tt0077696,0.044675,0,78000000,Hooper,Burt Reynolds|Robert Klein|Adam West|Jan-Micha...,http://en.wikipedia.org/wiki/Hooper_(film),Hal Needham,The greatest stuntman alive!,...,Burt Reynolds plays a legendary stunt man know...,107,Action|Comedy,Warner Bros.,7/28/78,13,6.0,1978,0.000000e+00,2.607307e+08

In [11]:
df.shape

(1992, 21)

In [12]:
# Check if null values are dropped or not
df.isnull().sum()

id                      0
imdb_id                 0
popularity              0
budget                  0
revenue                 0
original_title          0
cast                    0
homepage                0
director                0
tagline                 0
keywords                0
overview                0
runtime                 0
genres                  0
production_companies    0
release_date            0
vote_count              0
vote_average            0
release_year            0
budget_adj              0
revenue_adj             0
dtype: int64

In [28]:
#Check for duplicates
df.duplicated().sum()

0

In [22]:
df.drop_duplicates()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10595,253,tt0070328,1.549139,7000000,161777836,Live and Let Die,Roger Moore|Yaphet Kotto|Jane Seymour|Clifton ...,http://www.mgm.com/view/movie/1130/Live-and-Le...,Guy Hamilton,Roger Moore is James Bond.,...,James Bond must investigate a mysterious murde...,121,Adventure|Action|Thriller,Eon Productions|Metro-Goldwyn-Mayer (MGM),7/5/73,293,6.1,1973,3.437812e+07,7.945168e+08
10689,660,tt0059800,1.910465,11000000,141195658,Thunderball,Sean Connery|Claudine Auger|Adolfo Celi|Lucian...,http://www.mgm.com/view/movie/2009/Thunderball/,Terence Young,Look up! Look down! Look out!,...,A criminal organization has obtained two nucle...,130,Adventure|Action|Thriller,Eon Productions|Metro-Goldwyn-Mayer (MGM),12/16/65,331,6.3,1965,7.612620e+07,9.771535e+08
10724,668,tt0064757,1.778746,7000000,81974493,On Her Majesty's Secret Service,George Lazenby|Diana Rigg|Telly Savalas|Gabrie...,http://www.mgm.com/view/movie/1411/On-Her-Maje...,Peter R. Hunt,Far up! Far out! Far more! James Bond 007 is b...,...,James Bond tracks archnemesis Ernst Blofeld to...,142,Adventure|Action|Thriller,Eon Productions|Metro-Goldwyn-Mayer (MGM)|Danjaq,12/12/69,258,6.4,1969,4.160985e+07,4.872780e+08
10759,948,tt0077651,1.198849,300000,70000000,Halloween,Donald Pleasence|Jamie Lee Curtis|P.J. Soles|N...,http://www.theofficialjohncarpenter.com/hallow...,John Carpenter,The Night HE Came Home!,...,"A psychotic murderer, institutionalized since ...",91,Horror|Thriller,Compass International Pictures|Falcon Internat...,10/25/78,522,7.3,1978,1.002810e+06,2.339890e+08
10760,8469,tt0077975,1.157930,2700000,141000000,Animal House,John Belushi|Tim Matheson|John Vernon|Verna Bl...,http://www.animalhouse.com/,John Landis,It was the Deltas against the rules... the rul...,...,"At a 1962 College, Dean Vernon Wormer is deter...",109,Comedy,Universal Pictures|Oregon Film Factory|Stage I...,7/27/78,230,6.7,1978,9.025292e+06,4.713208e+08

In [29]:
df.shape

(1446, 21)

# 1) Which are the movies with the third-lowest and third-highest budget?

In [30]:
#Remove revenue values which have 0
df.drop( df[ df['budget'] == 0 ].index, inplace=True)
df['budget']

0        150000000
1        150000000
2        110000000
3        200000000
4        190000000
           ...
10595      7000000
10689     11000000
10724      7000000
10759       300000
10760      2700000
Name: budget, Length: 1446, dtype: int64

In [31]:
#Sort the column after removing 0 values
df.budget.sort_values(ascending=True)

3065            1
3581            1
2398            3
6460           10
9992           30
          ...
1929    260000000
14      280000000
7387    300000000
3375    380000000
2244    425000000
Name: budget, Length: 1446, dtype: int64

- As we can see,third lowest budget is 3 & third highest budget is 300000000.

In [32]:
#Movie with third lowest budget
df['original_title'].loc[2398]

'Boy'

### Movie with third Lowest Budget is 'Boy'.

In [33]:
# Movie with Third highest Budget
df['original_title'].loc[7387]

"Pirates of the Caribbean: At World's End"

### Movie with third Highest Budget is 'Pirates of the Caribbean: At World's End'.

## 2) What is the average number of words in movie titles between the years 2000-2005?

In [38]:
# Subset release year between 2000 and 2015
df_subset = df[(df["release_year"] > 2000) & (df["release_year"] < 2005)]

In [39]:
df_subset['release_year']

2633    2001
2634    2001
2637    2001
2639    2001
2641    2001
        ...
7145    2004
7173    2004
7192    2004
7204    2004
7225    2004
Name: release_year, Length: 122, dtype: int64

In [40]:
# Number of words in Movie titles between year 2000-2005
words = df_subset['original_title'].str.split().apply(len)
words

2633    10
2634     6
2637     2
2639     1
2641     2
        ..
7145     1
7173     6
7192     3
7204     3
7225     2
Name: original_title, Length: 122, dtype: int64

In [41]:
# Dataframe for better understanding
df_final = pd.DataFrame({
 'original_title' : df_subset['original_title'] ,
 'No. of words' : words})
df_final

                                         original_title  No. of words
2633  The Lord of the Rings: The Fellowship of the Ring            10
2634           Harry Potter and the Philosopher's Stone             6
2637                                     Monsters, Inc.             2
2639                                              Shrek             1
2641                                     Ocean's Eleven             2
...                                                 ...           ...
7145                                        Mindhunters             1
7173             Agent Cody Banks 2: Destination London             6
7192                                      A Dirty Shame             3
7204                                 LaLehet Al HaMayim             3
7225                                         Mean Creek             2

[122 rows x 2 columns]

In [42]:
df_final.shape

(122, 2)

In [52]:
# Average number of words in movie titles between 2000-2005:
avg = df_final['No. of words'].mean()
avg

2.877049180327869

### Average number of words in movie titles between the years 2000-2005 is 2.87

## 3) What is the most common Genre for Vin Diesel & Emma Watson movies?

In [53]:
df_vin = df[df['cast'].str.contains("Vin Diesel")]
df_emma = df[df['cast'].str.contains("Emma Watson")]
df_both = df_vin.append(df_emma)

In [54]:
df_vin.shape

(13, 21)

In [55]:
df_emma.shape

(9, 21)

In [56]:
df_both.shape

(22, 21)

In [57]:
df_both['genres'].value_counts()

Adventure|Fantasy|Family                     4
Action|Thriller|Crime                        2
Action|Adventure|Science Fiction|Thriller    1
Action|Crime|Drama|Thriller                  1
Action|Drama                                 1
Action|Comedy|Drama|Family|Thriller          1
Crime|Thriller                               1
Adventure|Family|Fantasy                     1
Drama|Romance                                1
Fantasy|Action|Adventure                     1
Adventure|Fantasy|Family|Mystery             1
Action|Crime|Thriller                        1
Action|Science Fiction|Adventure             1
Science Fiction|Action|Thriller              1
Thriller|Science Fiction|Action              1
Drama|Adventure                              1
Adventure|Action|Thriller|Science Fiction    1
Animation|Comedy|Family                      1
Name: genres, dtype: int64

### So, as we can see the most common genre for Vin Diesel & Emma Watson movies are : Adventure|Fantasy|Family

## 4) Which are the movies with the most and least earned revenue?

In [58]:
#Sort the values of revenue column
df.revenue.sort_values(ascending=True)

6047             0
926              0
996              0
3847             0
1066             0
           ...
0       1513528810
4361    1519557910
5231    1845034188
3       2068178225
1386    2781505847
Name: revenue, Length: 1446, dtype: int64

In [197]:
# Movie name for the most earned revenue using its index value
df['original_title'].loc[1386]

'Avatar'

### Most earned revenue is for movie "Avatar"

We have so many values with 0 revenue,so we need to remove them to find the least revenue.

In [67]:
#Remove revenue values which have 0
df.drop( df[ df['revenue'] == 0 ].index, inplace=True)
df['revenue']

0        1513528810
1         378436354
2         295238201
3        2068178225
4        1506249360
            ...
10595     161777836
10689     141195658
10724      81974493
10759      70000000
10760     141000000
Name: revenue, Length: 1287, dtype: int64

In [61]:
#Sort te column after removing 0 values
df.revenue.sort_values(ascending=True)

2398            43
7506            46
1733           134
3968           193
9992           200
           ...
0       1513528810
4361    1519557910
5231    1845034188
3       2068178225
1386    2781505847
Name: revenue, Length: 1287, dtype: int64

As we can see least value for revenue is 43.

In [68]:
# Movie name for the least revenue using its index value
df['original_title'].loc[2398]

'Boy'

### Least earned revenue is for movie "Boy"

## 5) What is the average runtime of movies in the year 2006?

In [69]:
df_2006 = df[df["release_year"] == 2006]
df_2006

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
6554,834,tt0401855,5.838503,50000000,111340801,Underworld: Evolution,Kate Beckinsale|Scott Speedman|Tony Curran|Sha...,http://www.sonypictures.com/movies/underworlda...,Len Wiseman,"My God. Brother, what have you done?",...,As the war between the vampires and the Lycans...,106,Fantasy|Action|Science Fiction|Thriller,Lakeshore Entertainment|Screen Gems,1/12/06,1015,6.3,2006,5.408346e+07,1.204339e+08
6555,58,tt0383574,4.205992,200000000,1065659812,Pirates of the Caribbean: Dead Man's Chest,Johnny Depp|Orlando Bloom|Keira Knightley|Bill...,http://disney.go.com/disneypictures/pirates/,Gore Verbinski,Jack is back!,...,The high-seas adventures of happy-go-lucky tro...,151,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,6/20/06,3181,6.8,2006,2.163338e+08,1.152691e+09
6556,920,tt0317219,3.941265,120000000,461983149,Cars,Owen Wilson|Paul Newman|Bonnie Hunt|Larry the ...,http://disney.go.com/disneyvideos/animatedfilm...,John Lasseter|Joe Ranft,Ahhh... it's got that new movie smell.,...,"Lightning McQueen, a hotshot rookie race car d...",117,Animation|Adventure|Comedy|Family,Walt Disney Pictures|Pixar Animation Studios,6/8/06,2336,6.4,2006,1.298003e+08,4.997129e+08
6557,36557,tt0381061,3.789580,150000000,599045960,Casino Royale,Daniel Craig|Eva Green|Mads Mikkelsen|Judi Den...,http://www.mgm.com/#/our-titles/233/Casino-Roy...,Martin Campbell,Everyone has a past. Every legend has a beginn...,...,"Le Chiffre, a banker to the world's terrorists...",144,Adventure|Action|Thriller,Eon Productions,11/14/06,2738,7.1,2006,1.622504e+08,6.479695e+08
6558,591,tt0382625,3.655536,125000000,758239851,The Da Vinci Code,Tom Hanks|Audrey Tautou|Ian McKellen|Paul Bett...,http://www.sonypictures.com/homevideo/thedavin...,Ron Howard,So Dark The Con Of Man,...,When the curator of the Louvre is found murder...,149,Thriller|Mystery,Columbia Pictures|Imagine Entertainment|Skylar...,5/17/06,1585,6.4,2006,1.352086e+08,8.201647e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6832,8618,tt0464049,0.326984,4000000,13401952,The History Boys,Samuel Anderson|James Corden|Stephen Campbell ...,http://www.foxsearchlight.com/site/thehistoryb...,Nicholas Hytner,History. It's just one bloody thing after anot...,...,"The story of an unruly class of bright, funny ...",109,Comedy|Drama,DNA Films|BBC Films|UK Film Council,10/2/06,27,5.6,2006,4.326677e+06,1.449648e+07
6838,1781,tt0497116,0.251388,1000000,46243000,An Inconvenient Truth,Al Gore|Billy West|Ronald Reagan|George W. Bus...,http://www.climatecrisis.net/,Davis Guggenheim,By far the most terrifying film you will ever ...,...,A documentary on Al Gore's campaign to make th...,100,Documentary,Lawrence Bender Productions|Participant Media,1/24/06,130,6.5,2006,1.081669e+06,5.001963e+07
6851,11798,tt0480025,0.225633,2380000,8176544,This Is England,Thomas Turgoose|Stephen Graham|Jo Hartley|Andr...,http://www.thisisenglandmovie.co.uk/,Shane Meadows,"Run with the crowd, stand alone, you decide.",...,A story about a troubled boy growing up in Eng...,101,Drama|Crime,EM Media|UK Film Council|Screen Yorkshire|Big ...,9/12/06,187,7.1,2006,2.574373e+06,8.844315e+06
6861,2016,tt0444182,0.207540,14500000,22963701,IndigÃƒÂ¨nes,Jamel Debbouze|Samy Naceri|Roschdy Zem|Sami Bo...,http://www.indigenes-lefilm.com/,Rachid Bouchareb,The true story of World War II's forgotten her...,...,"During WWII, four North African men enlist in ...",128,Drama|History|War,Tessalit Productions,5/25/06,52,6.7,2006,1.568420e+07,2.483913e+07
6896,13751,tt0437800,0.133041,8000000,18948425,Akeelah and the Bee,Keke Palmer|Laurence Fishburne|Angela Bassett|...,http://www.akeelahandthebee.com/splash.html,Doug Atchison,Changing the world... one word at a time.,...,Eleven year-old Akeelah Anderson's life is not...,112,Drama,Lions Gate Films|2929 Productions|Out of the B...,4/28/06,46,6.6,2006,8.653353e+06,2.049593e+07

In [70]:
avg_runtime = df_2006['runtime'].mean()
avg_runtime

111.95588235294117

### The average runtime of movies in the year 2006 is 111.955